%section#search
  = form_tag 'search' do
    = text_field_tag 'q', params[:q], :placeholder => 'Search...'
%section#results
  .programs
    - @results.each do |result|
      - type = result['type'].include?('/film/film') ? :film : :tv
      = link_to search_path(:type => type, :id => u(result['mid'])) do
        %h2
          = result['name']
          .type
            - if type == :film
              Movie
            - else
              TV Show
