%section#search
  = form_tag 'search' do
    = text_field_tag 'q', params[:q], :placeholder => 'Search...'
%section#results
  .programs
    - @results.each do |result|
      = link_to '/' do
        %h2
          = result['name']
          .type
            - if result['type'].include? '/film/film'
              Movie
            - else
              Show
